#body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
}

h1 {
  font-size: 50px;
  color: gold;
  margin-bottom: 0;
}

#add-task {
  font-size: 25px;
  font-family: Lucida Console, Courier, monospace;
  border-radius: 35px;
}

button {
  font-size: 20px;
  background: border-box;
  color: gold;
}

#content-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70%;
  overflow: auto;
  max-height: 80vh;
  margin-top: 30px;
}

#content-page::-webkit-scrollbar { 
  width: 0;
  height: 0;
}

.task-container {
  display: flex;
  align-items: center;
  width: 70%;
}

.checkbox-task,
.imageEdit,
.imageDelete,
.imageDone,
.imageCancel {
  width: 50px;
  height: 50px;
  min-width: 50px;
}

.text-task {
  font-size: 25px;
  margin-left: 20px;
  overflow-wrap: anywhere;
  text-overflow: ellipsis;
  color: yellow;
  width: 100%;
}

.done-text-task {
  color: red;
  text-decoration: line-through;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-textarea {
  font-size: 16px;
  width: 100%;
  text-align: center;
}

@media (min-width: 730px) and (max-width: 1024px) {
  #content-page {
    width: 90%;
  }
  .task-container {
    width: 80%;
  }
  #main-elements-control {
    width: 90%;
  }
  .main-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #add-task {
  width: 100%;
  }
}

@media (max-width: 730px) {
  #content-page {
    width: 100%;
  }
  .task-container {
    width: 90%;
  }
  #main-elements-control {
    width: 100%;
    justify-content: center;
    display: flex;
  }
  .main-input {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  button {
    font-size: 40px;
    width: 50%;
  }
  #add-task {
  width: 100%;
  }
}